@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');

:root {
  --mainBG: #0f151b;
  --formBG: #040f1a;
  --accent: #c9231d;
  --accentHover: #99110c;
  --text: #fff;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: row;
  background: var(--mainBG);
  color: var(--text);
}

#sidebar {
  height: 100vh;
  width: 80vw;
  background: center/cover url("/images/geronimo-giqueaux-eo-rKe6A5ZY-unsplash.jpg") no-repeat;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  cursor: default;
  z-index: 1;
}

.title {
  font-family: 'Damion', cursive;
  display: block;
  font-size: 4em;
  background: rgba(0,0,0,0.5);
  padding: 10px 0;
  margin-top: 30%;
}

.credit {
  font-size: 15px;
  padding-bottom: 5px;
  text-shadow: 1px 1px 3px #000;
}

.credit a{
  color: var(--text);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#topText,
#signUpForm,
#bottomText {
  padding: 20px 40px;
}

#topText {
  padding: 0 40px 20px;
  font-weight: bold;
  font-size: 1.3em;
}
#topText p {
  padding-bottom: 30px;
}

#signUpForm {
  background: var(--formBG);
  box-shadow: 0px 0px 8px #000;
  font-weight: bold;
}
#signUpForm p {
  font-size: 1.3em;
}

#form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.input {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 10px 50px 0 0;
}

input {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.1em;
  background: #dfdfdf;
  border: 1px solid var(--mainBG);
  outline: none;
}
input:focus {
  border: 1px solid #2184e7;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

label {
  font-variant: small-caps;
  letter-spacing: 1px;
}

input[type="button"] {
  background: var(--accent);
  color: var(--text);
  font-size: 0.9em;
  font-weight: bold;
  padding: 1.5% 5%;
  cursor: pointer;
}
input[type="button"]:hover {
  background: var(--accentHover);
}

#bottomText p {
  font-size: 0.8em;
  padding-top: 10px;
}
#bottomText a {
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
}
#bottomText a:hover {
  text-decoration: underline;
}

/* google font - 'Damion', cursive; 
button = #596D48
input border = #E5E7EB
*/